* {
    font-family: 'Ubuntu';
}

img {
    width: 200px;
    height: auto;
    justify-self: center;
}

h1, h2, h3 {
    background-color: rgb(199, 138, 47);
}

p {
    background-color: rgba(128, 128, 128, 0.404);
}

.gallery > img {
    width: 400px;
}

.illustrations > img {
    mix-blend-mode: multiply;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: rgba(128, 128, 128, 0.404);
}

.illustrations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: rgba(128, 128, 128, 0.404);
}